<h1>Advertisements#show</h1>
<p>Find me in app/views/advertisements/show.html.erb</p>
<h1>Title: <%= @advertisement.title %></h1>
<p>Copy: <%= @advertisement.copy %></p>
<p>Price: $<%= @advertisement.price %></p>

