// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
    border: solid black 1px;
    background-color: lightblue;
    color: white;
    text-align: center;
    height: 30px;
    width: 300px;
    font-size: bold;
    
    
}
